.root {
    -fx-background-color: rgb(50.0, 55.0, 60.0);
    -fx-font-size: 15.0px;/* When changing this, also change GuiController.DEFAULT_SIZE */
}


.label {
    -fx-text-fill: rgb(255.0, 255.0, 255.0);
}

.button{
    -fx-background-color: rgb(240.0, 58.0, 58.0);
    -fx-background-insets:  0.1;
    -fx-padding: 0.7em;
    -fx-text-fill: rgb(255.0, 255.0, 255.0);
}

.button:armed{
     -fx-background-color: rgb(213.0, 51.0, 51.0);
}

.context-menu .label { 
    -fx-text-fill: rgb(50.0, 55.0, 60.0);
}

