<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Forteso</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="showHelp()">
        <ion-icon name="help"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content data-tap-disabled="true" padding>
  <map-component #mapcomponent></map-component>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col col-auto>
        <ion-item no-lines>
        <h2>{{addressToFind}}</h2>
        <h3>{{distance}}</h3>
      </ion-item>
      </ion-col>
      <ion-col>
        <ion-badge color="secondary">
          <ion-icon name="checkmark"></ion-icon>
          {{nrCorrect}}
        </ion-badge>
        <ion-badge color="danger">
          <ion-icon name="close"></ion-icon>
          {{nrIncorrect}}
        </ion-badge>
      </ion-col>
      <ion-col>
        <ion-item no-lines>
          <button item-end ion-button (click)="nextAddressBtnClicked()">Nächste Aufgabe</button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
