<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Über</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item text-wrap>
      <h1>Forteso</h1>
      <p>
        Forteso (<u>F</u>lexibles <u>Ort</u>skunde <u>e</u>-Learning <u>S</u>ystem, <u>o</u>ffline), ist ein offline-fähiges Trainingsprogramm zur Verbesserung der Ortskenntnis.
    	</p>
      <p>
        Forteso ist unter <a href="../LICENSE.txt">GPL</a> verfügbar.
      </p>
    </ion-item>

    <ion-item text-wrap>
      <h2>Kontakt</h2>
      <p>
        Einblick in den Source-Code und mehr auf der forteso <a href="https://gitlab.com/fftr/forteso">Website</a>
      </p>
      <p>
        Einen Fehler melden: Mail mit Fehlerbeschreibung an <a href="mailto:incoming+fftr/forteso@gitlab.com">incoming+fftr/forteso@gitlab.com</a>
      </p>

    </ion-item>

    <ion-item text-wrap>
      <h2>Verwendete Open Source Bibliotheken</h2>

        <ion-list>
          <ion-item text-wrap>
            <p>
              Kartendaten von <a href="https://www.openstreetmap.org/">openstreetmap.org</a><br>
          		Lizensiert unter Open Data Commons Open Database License (ODbL).<br>
          		Weitere <a href="https://www.openstreetmap.org/copyright">Informationen</a>
            </p>
          </ion-item>
          <ion-item text-wrap>
            <p>
              <a href="http://leafletjs.com">Leaflet</a><br>
              Lizensiert unter <a href="https://github.com/Leaflet/Leaflet/blob/master/LICENSE">2-Clause BSD License</a>
            </p>
          </ion-item>
          <ion-item text-wrap>
            <p>
              <a href="https://ionicframework.com">Ionic</a><br>
              Lizensiert unter <a href="https://github.com/ionic-team/ionic/blob/master/LICENSE">MIT License</a>
            </p>
          </ion-item>
          <ion-item text-wrap>
            <p>
              <a href="https://angular.io">Angular</a><br>
              Lizensiert unter <a href="https://angular.io/license">MIT License</a>
            </p>
          </ion-item>
        </ion-list>

    </ion-item>

    <ion-item text-wrap>
      <h2>Weitere Lizenzen</h2>
      <p>
        In Standardeinstellungen werden die Tile-Server der Wikimedia Foundation verwendet.
      </p>
      <p>
        Dies kann in den <a (click)="naviageToSettings()">Einstellungen</a> geändert werden.
      </p>
    </ion-item>
  </ion-list>

</ion-content>
