<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Einstellungen</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list no-lines>
    <!-- <ion-list-header>Fortschritt</ion-list-header> -->
      <ion-item text-wrap>
          <ion-badge item-start color="secondary">
            <ion-icon name="checkmark"></ion-icon>
            {{nrCorrect}}
          </ion-badge>
          Richtig gefundene Straßen
      </ion-item>
      <ion-item text-wrap>
        <ion-badge color="danger">
          <ion-icon name="close"></ion-icon>
          {{nrIncorrect}}
        </ion-badge>
        Unzureichend gefundene Straßen
      </ion-item>
      <ion-item>
        <button ion-button item-end color="danger" (click)="resetProgress()">Zurücksetzen</button>
      </ion-item>

      <ion-item-divider></ion-item-divider>

      <ion-item>
        <ion-label>Frage Straßen ab</ion-label>
        <ion-checkbox color="primary" [(ngModel)]="useStreets" (ionChange)="useStreetsChanged()"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Frage wichtige Punkte ab</ion-label>
        <ion-checkbox color="primary" [(ngModel)]="usePOIs" (ionChange)="usePOIsChanged()"></ion-checkbox>
      </ion-item>

      <ion-item-divider></ion-item-divider>

      <ion-item>
        <ion-label floating>Tile Server</ion-label>
        <ion-input type="url" [(ngModel)]="url" (ionBlur)="saveURL()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Tile Server ohne Beschriftung</ion-label>
        <ion-input type="url" [(ngModel)]="urlNoLabel" (ionBlur)="saveURLNoLabel()"></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button item-end color="light" (click)="resetURLs()">Auf Standardwerte zurücksetzen</button>
      </ion-item>

      <ion-item-divider></ion-item-divider>

      <ion-item>
        <ion-label stacked>Zulässige Abweichung vom Ergebnis: {{threshold}}m</ion-label>
        <ion-range [(ngModel)]="threshold" min="0" max="500" step="10" pin="true" color="secondary" (ngModelChange)="onChangeThreshold($event)" debounce="1500">
          <ion-badge range-left color="secondary">
            <ion-icon small name="checkmark"></ion-icon>
          </ion-badge>
          <ion-badge range-right color="danger">
            <ion-icon small name="close"></ion-icon>
          </ion-badge>
        </ion-range>
      </ion-item>
  </ion-list>

</ion-content>
